/* body {
  background-color: red;
}
.wrapper-class {
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;
  overflow: hidden;
}
header {
  display: flex;
  justify-content: space-between;
  background-color: #FFFDD0;
}
.head-main {
  display: flex;
  gap: 20px;
} */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.YourLogo {
  margin-left: 20px;
  
}

.YourLogo h1 a {
  color: brown;
  text-decoration: none;
}

.YourLogo h1 a:hover {
  color: yellow;
  /* text-decoration: none; */
}



header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFFDD0;
  height: 75px;
}
.head-main {
  display: flex;
  gap: 45px;
  text-decoration: none;
  align-items: center;
  margin-right: 20px;
}
.head-main li {
  list-style: none;
  /* gap: 200px; */
}

.head-main li a {
  text-decoration: none;
  color: brown;
  font-weight: 600;
}

.upper-section {
  background-color: #F8F8F8;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.first-img {
  width: 40%;
}

.first-img > img{
  width: 80%;
  height: 30%;
}
.para {
  width: 40%;
}
.para h1 {
  font-weight: bold;
  font-size: 60px;
  color: brown;
}
.para p {
  font-size: 24px;
  width: 400px;
  margin-top: 20px;
}

.btn {
  width: 220px;
    background-color: #726c54;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 3px;
}

.second-sec {
  height: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #efe2b6;
  color: #726c54;
  padding: 20px;
}

.mid-description-sec {
  width: 450px;
  padding: 15px;
  font-size: 18px;
}

.our-team {
  display: flex;
  justify-content: space-around;
  text-decoration: none;
  padding: 20px;
  list-style-type: none;

}

.our-team li img {
  width: 200px;
  border-radius: 50%;
  height: 200px;
}

.our-team li {
  text-decoration: none;
}

.founder-names {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.founder-names h2 {
  margin-top: 15px;
  color: #726c54;
}

.founder-names h4 {
  margin-top: 5px;
  color: #726c54;
}

.our-team {
  background: #f6f0e4;
}

.sample-class {
  height: 60px;
  background: #efe2b6;
}

.second-img img {
  width: 275px;
    border: 2px solid beige;
    border-radius: 50%;
}

.trial-section {
  display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 50px;
}

.trial-section h2 {
  font-size: 50px;
  color: brown;
}

.trial-section p {
  font-size: 24px;
    width: 350px;
    margin-top: 20px;
}

.btn-two {
  width: 220px;
    background-color: #726c54;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 3px;
}

.transform-section{
  padding: 86px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: beige;
}

.transform-section h2{
  color: brown;
  font-size: 33px;
  margin-bottom: 6%;
} 
.btn-three {
  width: 220px;
    background-color: #726c54;
    padding: 10px;
    color: white;
    font-size: 16px;
    margin-top: 20px;
    letter-spacing: 3px;
    margin-left: 5%;
}
.members h1 {
  text-align: center;
  font-size: 80px;
  color: #726c54;
}
.members h3 {
  font-size: 30px;
  color: #726c54;
}


.basic-img > img{
  width: 70%;
}

.dance-img > img{
  width: 70%;
}

.professional-img > img{
  width: 70%;
}
.offers-dance{
  display: flex;
  justify-content: space-around;
  list-style: none;
  margin: 4%;
  text-align: center;
}

.class-level > h1{
  text-align: center;
    font-size: 42px;
    color: saddlebrown;
    padding-top: 4%;
}
.basic-img > h2 {
  /* margin-left: 7%; */
  color: saddlebrown;
}




.dance-img > h2 {
  /* margin-left: 7%; */
  color: saddlebrown;
}

.professional-img > h2 {
  margin-left: 5%;
  color: saddlebrown;
}

.basic-img > h3 {
  /* padding-left: 21%; */
  padding-top: 3%;
}

.basic-img > h4 {
  margin-top: 5%;
  margin-left: 9%;
}

.dance-img > h3 {
  /* padding-left: 21%; */
  padding-top: 3%;
}

.dance-img > h4 {
  margin-top: 5%;
  margin-left: 9%;
}

.professional-img > h3 {
  /* padding-left: 21%; */
  padding-top: 3%;
}

.professional-img > h4 {
  margin-top: 5%;
  margin-left: 9%;
}

.container {
  position: relative;
  text-align: center;
  background: url(images/latest.jpg) center center no-repeat;
  padding: 200px 0;
  background-size: cover;
  text-align: center;
  
  /* color: white; */
}


/* .bottom-left {
  position: absolute;
  left: 23%;
  top: 42%;
  font-size: 18px;
  letter-spacing: 5px;
  color: brown;
} */

.bottom-left {
  color: red;
  font-size: 30px;
  font-weight: 600;
}

.dance-fun {
  background-color: burlywood;
  padding-top: 40px;
}

.dance-fun > h1 {
  margin-left: 40%;
  font-size: 27px;

}

.dance-fun > p {
  margin-left: 35%;
  margin-top: 20px;
}

.dance-fun > input {
  margin-left: 38%;
  padding-right: 30px;
    padding-left: 20px;
    padding-top: 10px;
    padding-bottom: 9px;
    margin-top: 3%;
}

.last-para {
  margin-left: 35%;

}
.btn-sub {
  padding: 10px;
  
}




